<div class="flex flex-col gap-4">
    <div>
        <h1 class="text-3xl font-bold underline">About</h1>
    </div>

    <div>
        <p>About the wiki posts site</p>
    </div>

    <div class="flex flex-row">
      <%= link_to "Home", welcome_index_path, class: "bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-full" %>
    </div>
</div>
