<div class="flex flex-col gap-4">
    <div>
        <h1 class="text-3xl font-bold underline">Wiki</h1>
    </div>


    <div>
        <p>Posts will go here</p>
    </div>


    <%= link_to "About", welcome_about_path %>
</div>
