<h1 class="text-3xl font-bold underline pb-10">New wiki post</h1>

<%= render "form", wiki_post: @wiki_post %>

<br>

<div>
  <%= link_to "Back to wiki posts", wiki_posts_path, class: "rjs-button-back" %>
</div>
